.card {
    border: 1px solid #ccc;
    background-color: lightblue;
}
.card figcaption {
   display:none;
}
.card img {
    width: 100%;
    height: auto;
}
.card-title {
    font-size: 1.5em;
    margin: 0.5em 0;
}
